h1
{
	color = "white";
    font-size: 40px;
	font-family: "Century Gothic", "Calibri", sans-serif;
}

h2
{
	color = "white";
    font-size: 14px;
	font-family: "Century Gothic", "Calibri", sans-serif;
}

h3
{
	color = "white";
    font-size: 14px;
	font-family: "Century Gothic", "Calibri", sans-serif;
}
body
{
	background: rgb(51, 181, 229);
}

BODY {overflow-x: hidden;}