h1
{
	color = "white";
    font-size: 40px;
	font-family: "Century Gothic", "Calibri", sans-serif;
}
body
{
	cursor: url('img/dino.png'), default;
	background: rgb(51, 181, 229);
}

BODY {overflow-x: hidden;}